# Gradle files
.gradle/
build/
local.properties

# IDE files
.idea/
*.iml

# MacOS files
.DS_Store

# APK or build outputs
*.apk
*.ap_
captures/
output.json

# Native build cache
.cxx/

# ignore Compose preview cache
**/ui-tooling-preview/

